https://observablehq.com/@analyzer2004/plot-gallery?collection=@observablehq/featured-creators

https://medium.com/@kvnamipara/a-better-visualisation-of-pie-charts-by-matplotlib-935b7667d77f

https://stackoverflow.com/questions/7389567/output-images-to-html-using-python#:~:text=write(%20"Content-type%3A,<link%20href%3D"default.


path('ajax/get_sa_image_info', get_sa_image_view, name = 'get_sa_image_info'),

// function live_image_update(){
    //        $.ajax({
    //            url: "{% url 'sentiment_analysis:get_sa_image_info' %}",
    //            type: 'get', 
    
    //            success: function(data) {
    //                state = data
    //                 if (state!= "None") {
    //                     $('#myimage').css('display', 'block');
    //                     live_cost_update();
    //                     $(myimage).attr('src', "/../../../media/language/sa/sa.png" + '?' + new Date().getTime());
    //                 } else if(state === "None"){
    //                     $('#myimage').css('display', 'none');
    //                 }
    //            },
    //            error: function() {
    //                alert('Got an error dude in live image');
    //            }
    //       });
    //    }